/* About page styling */

.bg-image{
   background-image: url('https://cdn.pixabay.com/photo/2016/09/07/11/37/sunset-1651426_1280.jpg');
   width: 100%;
   height: auto;
   background-repeat: no-repeat;
   background-size: 120%;
   position: center center;
   z-index: 100;
}
body{
    background-color: black;
}
h1{
    color: blue;
    text-align: center;
    margin-top: 100px;
    padding-top:  5%;
    padding-bottom: 30px;
}
span{
  font-family: "Cedarville Cursive", cursive;
  font-weight: bolder;
  font-style: normal;
  font-size: 1,2rem;
  color: yellow;
}
.nav-link{
    margin-top: 30px;
    padding-left: 60%;
    font-size: 1.2rem;
}
.navbar{
    position: fixed;
    width: 100%;
}
.navbar-brand{
    margin-left: -9px;
}
#footer{
    color: white;
    font-size: 0.8rem;
    text-align: center;
   
}
.blocks{
    width: 200px;
    height: 210px;
    background-color: antiquewhite;
    /* color: rgb(155, 130, 99); */
    border: solid 4px black;
    border-radius: 20px;
    padding-top: 16px;
    text-align: left;
}
.mkt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
}
h3{
    font-weight: bold;
    text-align: center;
    color: rgb(157, 57, 57);
    padding: 0;
}
p{
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 20px;
   
}
.text{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: small; 
   color: black;
   padding-bottom: -10px;
}
#Sfont{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: x-large;

}
#ordenaryfont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
.introwrapper{
    display: flex;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 50, 77);
    border: solid 4px white;
    border-radius: 20px;
    opacity: 0.75;
    margin-top: 55%;
    z-index: -1;
    padding-bottom: 40px;
}
#logo{
    border: solid 4px pink;
    border-radius: 50%;
}
.introwrapper .sfont{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: x-large;
   color: yellow; 
}

